@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: -10px;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
}