.contacts {
    padding: 120px 0 93px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        margin-left: 7px;
        position: relative;
        @include before_circle;
    }
    &__subtitle {
        margin-top: 6px;
    }
    .divider {
        margin-top: 4px;
    }
    &__text {
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__social {
        margin-top: 20px;
        &-link {
            margin-right: 20px;
            transition: all 0.6s;
            img {
                max-width: 30px;
                max-height: 30px;
            }
            &:hover {
                svg path {
                    fill: $main-color;
                    transition: all 0.6s;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__form {
        margin-top: 20px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        column-gap: 25px;
        row-gap: 30px;
        label {
            display: block;
            position: absolute;
            top: -7px;
            left: 12px;
            font-weight: 500;
            font-size: 12px;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1/3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__btn {
        background: #FFA501;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        transition: all 0.6s;
        padding: 12px 26px;
        &:hover {
            transform: scale(1.05);
            transition: all 0.6s;
        }
    }
}