@media (max-width:1440px) {
    .sidepanel {
        display: none;
    }
}

@media(max-width:1300px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 462px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(1, 454px);
            &-item {
                justify-content: center;
            }
        }
    }
    .resume {
        &__wrapper {
            padding-left: 60px;
            grid-template-columns: repeat(2, 350px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 269px);
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(2, minmax(65px, auto))/repeat(2, 350px);
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px)/repeat(4, 235px);
        }
    }
}

@media(max-width:992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        .hamburger {
            right: 20px;
        }
    }
    .sidepanel {
        display: none;
    }
    .promo {
        &__subtitle {
            font-size: 43px;
            line-height: 50px;
        }
    }
    .about {
        padding-top: 65px;
        &__wrapper {
            grid-template-columns: 700px;
            grid-template-rows: 500px 235px 240px;
        }
        &__photo {
            grid-row: 1/2;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            justify-content: center;
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding-left: 0;
            grid-template-columns: repeat(2, 280px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
        }
        &__ratings {
            grid-template: repeat(2, minmax(65px, auto))/repeat(2, 325px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px)/repeat(3, 191px);
        }
    }
}

@media(max-width:768px) {
    .container {
        max-width: 540px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        .hamburger {
            right: 20px;
        }
        &__subtitle {
            font-size: 43px;
            width: 540px;
            line-height: 50px;
        }
    }
    .about {
        padding-top: 65px;
        &__subtitle {
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: 540px;
            grid-template-rows: 365px 260px 240px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 225px);
            &-item {
                grid-template-columns: 17px 205px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__subtitle {
            font-size: 30px;
            line-height: 33px;
        }
        &__wrapper {
            margin-top: 25px;
            padding-left: 0;
            grid-template-columns: repeat(1, 315px);
            justify-content: center;
            grid-template-rows: repeat(2, 426px);
            row-gap: 40px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .skills {
        padding-top: 80px;
        &__subtitle {
            font-size: 30px;
            line-height: 33px;
        }
        &__wrapper {
            margin-top: 25px;
            grid-template-columns: repeat(1, 270px);
        }
        &__ratings {
            padding-top: 60px;
            grid-template: repeat(6, minmax(65px, auto))/repeat(1, 300px);
        }
        .divider {
            margin-top: 15px;
        }
    }
    .portfolio {
        padding-top: 80px;
        &__subtitle {
            font-size: 30px;
            line-height: 33px;
        }
        &__wrapper {
            margin-top: 25px;
            grid-template: repeat(2, 190px)/repeat(3, 175px);
        }
        .vertical {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .horizonal {
            grid-column: 2/3;
        }
    }
}

@media(max-width:558px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        .hamburger {
            right: 20px;
        }
        &__subtitle {
            font-size: 34px;
            line-height: 40px;
            width: 400px;
        }
    }
    .about {
        padding-top: 65px;
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 395px;
            grid-template-rows: 365px 305px 240px;
            justify-content: center;
            row-gap: 20px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(1, 225px);
            &-item {
                grid-template-columns: 30px 202px;
            }
        }
    }
    .resume {
        padding-top: 200px;
        &__subtitle {
            font-size: 24px;
        }
    }
    .divider {
        margin-top: 15px;
    }
    .skills {
        padding-top: 65px;
        &__subtitle {
            font-size: 24px;
        }
    }
    .portfolio {
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template: repeat(6, 280px)/repeat(1, 280px);
            justify-content: center;
            row-gap: 20px;
        }
        .vertical,
        .horizonal {
            grid-column: auto;
            grid-row: auto;
        }
    }
}

@media(max-width:414px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        .hamburger {
            right: 20px;
        }
        &__subtitle {
            font-size: 26px;
            line-height: 39px;
            width: 300px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
        &__link {
            font-size: 20px;
        }
    }
    .about {
        padding-top: 65px;
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 331px;
            grid-template-rows: 365px 350px 240px;
            justify-content: center;
            row-gap: 20px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(1, 255px);
            &-item {
                grid-template-columns: 30px 202px;
            }
        }
    }
}

@media (max-width:351px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .about {
        padding-top: 65px;
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 331px;
            grid-template-rows: 365px 350px 240px;
            justify-content: start;
            row-gap: 20px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(1, 255px);
            &-item {
                grid-template-columns: 30px 202px;
            }
        }
    }
    .resume {
        padding-top: 200px;
        &__wrapper {
            grid-template-columns: repeat(1, 290px);
            grid-template-rows: repeat(2, 464px);
        }
    }
}

@media (max-width:349px) {
    .about {
        padding-top: 65px;
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 290px;
            grid-template-rows: 365px 375px 240px;
            justify-content: center;
            row-gap: 20px;
        }
    }
}

@media (max-width:320px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        .hamburger {
            right: 20px;
        }
        &__subtitle {
            font-size: 26px;
            line-height: 38px;
            width: 300px;
        }
        &__links {
            width: 290px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
        &__link {
            font-size: 20px;
        }
    }
}